@import './crt.css';
@import './desktop.css';
@import './apps.css';
@import './boot.css';

@font-face {
    font-family: 'W95FA';
    src: url('/fonts/w95fa.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
